$primary: #E3313C;
$primary-medium: #EE838A;
$primary-light: #FCBAC6;
$secondary: #6086B1;
$secondary-medium: #809EC1;
$secondary-light: #A0B6D0;

$white: #ffffff;
$gray10: #F4F4F6;
$gray20: #DDDFE4;
$gray30: #8E93A5;
$gray40: #32333A;